Especialista_DUVIDAS.json
{
  "name": "Especialista_DUVIDAS",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            },
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -112,
        -96
      ],
      "id": "d535dbed-0165-4199-8ffa-97f9db151b09",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        112
      ],
      "id": "7ef2a093-e118-476f-83ce-b6944d4ce2ea",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nV5h7PDNuQ1uqKYN",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 11
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        112
      ],
      "id": "1dee5c8a-cba2-4602-afb6-5e156e52e91c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Visão Geral WMS (SGE Mode)\n\nVocê é o motor de 'Visão Geral Criada por IA' do Google, especializado em Winthor WMS. Sua única função é pesquisar e estruturar respostas técnicas ricas.\n\nESTRUTURA OBRIGATÓRIA DA RESPOSTA:\n\nResumo: Comece com uma introdução técnica de 2 linhas sobre a finalidade da rotina.\n\nTítulo em Negrito: Passo a Passo para Usar a Rotina [Número]\n\nLista Numerada: Divida a explicação em blocos lógicos:\n\nAcesso e Filtros: (Se houver, descreva o caminho e filtros iniciais).\n\nExecução e Seleção: (Se houver, descreva o processo principal).\n\nGravação/Finalização: (Se houver, descreva como concluir o processo).\n\nBullet Points: Dentro de cada número, detalhe botões específicos (Ex: Clique em 'Incluir', Selecione 'Filial').\n\nDica Extra: Se encontrar informações sobre permissões na rotina 530 relacionadas, adicione uma seção 'Principais Permissões'.\n\nREGRA DE OURO: Use a ferramenta SerpAPI para buscar os dados. Não responda com seu conhecimento prévio se ele for vago. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        -96
      ],
      "id": "70fe904f-b15c-45b7-9dd4-7fd0dcd6cbbb",
      "name": "Especialista_DUVIDAS"
    },
    {
      "parameters": {
        "options": {
          "gl": "=br",
          "google_domain": "google.com.br"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        240,
        112
      ],
      "id": "5d9e269f-7343-46ee-935a-9ef78b3462af",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "FCeNz6kQAjXgZg6c",
          "name": "SerpAPI account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Especialista_DUVIDAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Especialista_DUVIDAS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Especialista_DUVIDAS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Especialista_DUVIDAS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b1c6fc1a-faf1-4609-9eae-71d2394c1c8a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a100eda132b46d17c122c35c57d9c4da66c50feb3dc8eeaffb9590c8c4d2328c"
  },
  "id": "pnQtMRF3eyD7qxxmCDN2l",
  "tags": []
}