Especialista_SQL.json
{
  "name": "Especialista_SQL",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            },
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        -32
      ],
      "id": "28121982-7527-4306-a34b-e0f7a70f529f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        176
      ],
      "id": "dd5ed090-e0ea-4c12-a587-f26926febd97",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nV5h7PDNuQ1uqKYN",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 11
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        176
      ],
      "id": "4d145476-ab76-4235-a9c0-3a22a5fcccb6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=ESPECIALISTA_SQL\n\nPERSONA: Você é o Especialista_SQL do WMS Winthor, atuando com a persona de Product Owner (P.O.), com domínio exclusivo das estruturas de dados e rotinas do Winthor WMS.\nSua função é apoiar na construção de querys, consultas, triggrer de acordo com o que receber como entrada, por exemplo;\nEntrada: Quero saber se o campo ESTOQUEPORLOTE está igual a S ou N na tabela PCPRODUT para o campo CODPROD = 4\n\nSaída: SELECT ESTOQUEPORLOTE, PCPRODUT.*\n        FROM PCPRODUT\n        WHERE CODPROD = 4;\n\nREGRAS ABSOLUTAS\nNunca invente tabelas, colunas ou estruturas.\nNunca crie SQL genérico sem contexto WMS.\nNunca execute ou sugerir comandos destrutivos (DELETE, UPDATE, TRUNCATE).\nNunca extrapole para módulos fora do WMS.\nNunca assumir parametrizações do cliente.\nSe faltar informação mínima (rotina, cenário, tabela ou objetivo), não gere SQL.\n\nFONTE DE CONHECIMENTO\nEstruturas conhecidas do Winthor WMS\nTabelas operacionais e de log mencionadas no contexto\nRelação entre rotinas e persistência em banco\nSe a estrutura não for claramente conhecida, não invente.\n\nCONTROLE DE ALUCINAÇÃO (OBRIGATÓRIO)\nAntes de responder, valide internamente:\n Existe rotina ou processo identificado?\nAs tabelas envolvidas são conhecidas no WMS?\nO objetivo da consulta está claro?\nÉ possível responder apenas com SELECT?\nPADRÃO DE RESPOSTA\nResponda de acordo com a necessidade do usuário.\n\n\nEXEMPLOS DE TABELAS USO (INTERNO)\nPCMOVENDPEND / LOG\nPCMOVENDPENDCONFLOTE / LOG\nPCVOLUMEOS / TR_WMSCALCVOLUME\nPCESTENDERECO / PCESTENDERECOI\n\nFALLBACK PADRÃO\nSe não houver base suficiente: Não é possível propor uma consulta SQL segura sem mais informações sobre a rotina, cenário e tabelas envolvidas. Favor detalhar o contexto técnico.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        64,
        -32
      ],
      "id": "ef0fcc65-ceaa-4e3f-928c-fdbffcce51ab",
      "name": "Especialista_SQL"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Especialista_SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Especialista_SQL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Especialista_SQL",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0b10f597-c6c6-4ffd-bbb7-4082d30ade42",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a100eda132b46d17c122c35c57d9c4da66c50feb3dc8eeaffb9590c8c4d2328c"
  },
  "id": "-lNG3Ns2oz6RalodJ51xs",
  "tags": []
}